.img1
{
    margin: auto;
    width: 100%;
    height: 157px;
    
    border-radius: 10px;
}
.main_hele
{
    padding-top: 70px;
    display: grid;
  
    row-gap: 9px;
    column-gap: 9px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    align-items: center;
    justify-items: center;
}
.too
{
    width: 300px!important;
    height: 300px!important;
    border:3px rgb(17, 0, 128) solid;
    border-radius: 10px!important;
}
@media screen and (max-width: 900px) {
    .main_hele {
        grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (max-width: 500px) {
    .main_hele {
        grid-template-columns: 1fr;
    }
  }
  