.img1
{
    width: 271px;
    height: 157px;
    border:2px solid black;
    border-radius: 10px;
}
.main_hele
{
    margin-top: 9vh;
    display: grid;
  
    row-gap: 9px;
    column-gap: 9px;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    align-items: center;
    justify-items: center;
}
.too
{
    width: 300px!important;
    height: 300px!important;
    border:3px green solid;
    border-radius: 10px!important;
}