.btns
{
    display: flex;
    justify-content: space-around
}
.btn2
{
    display: flex;
    align-items: center;
}

.display_area
{
    margin-top: 3vw;
    
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: black;
    opacity: 0.8;
    color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search_text label
{
    margin: 7px;

}
textarea
{
    width: 40vw;
    height: 20vh;
    border: 2px solid black;
    border-radius: 5px;
}
